
html {
  overflow-y: scroll;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font: 10pt Arial, sans-serif;
  margin: 3.5em 0.7em 4em 0.7em;
}

a, .fakelink {
  color: #00A;
  cursor: pointer;
  text-decoration: underline;
}
a:hover, .fakelink:hover {
  color: #00E;
}

pre {
  margin: 0;
  padding: 0;
}

pre, code {
  font: 9pt monospace;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* IE 6/7 */
}

/* TOP ************************************************************************/

.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #CCF;
}

.top h1, .top h2 {
  display: inline-block;
  line-height: 1;
  font-size: 2em;
  margin: 0;
  padding: .2em;
}

.top h1 {
  background: black;
  color: white;
}

.top h2 {
  font-weight: normal;
  padding: .2em 0.5em;
}
.top h2 a {
  color: black;
  text-decoration: none;
}
.top h2 a:hover {
  color: #007;
}

.topbutton {
  display: inline-block;
  vertical-align: 25%;
  padding-right: 0.5em;
}

.top .login {
  float: right;
  padding: .5em;
}

/* MODAL **********************************************************************/

.modalback {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.5);
}

.modalcontent {
  position: fixed;
  left: 5em;
  right: 5em;
  top: 5em;
  bottom: 5em;
  z-index: 999;
  background: white;
  overflow-x: auto;
  overflow-y: scroll;
}

.timeline {
  margin: 2em;
}

.timeline .message {
  border: solid #888 2px;
  margin-bottom: 1em;
}

.timeline .message h3 {
  margin: 0.5em 1em 0;
}

/* METADATA *******************************************************************/

.metadata th {
  text-align: right;
}
.metadata .status1 {
  font-weight: bold;
  color: green;
}

/* COMMITS ********************************************************************/

.commits table {
  padding-top: 1em;
  width: 100%;
}

.commits tr, .commits td {
  margin: 0.1em;
  padding: 0;
  vertical-align: top;
}

.commits td.narrow {
  width: 1%;
}

.commits .label {
  background: green;
  color: white;
  padding: 1px;
  border-radius: 3px;
}

.commits pre {
  white-space: pre-wrap;
}
.commits pre.details {
  background: #CCC;
}

/* DIFF ***********************************************************************/

.difflist {
  margin: 0.7em -0.7em;
  border-top: solid #888 1px;
}

.difflist .loading {
  padding: 0.7em;
}

.difflist .file {
  cursor: pointer;
  background: #FFF2E0;   /* lighter blanchedalmond */
  padding: 0.2em 0.7em;
  border-bottom: solid #888 1px;
}
.difflist .file:hover {
  background: #FFEBCD;   /* blanchedalmond */
}

.difflist .file code {
  margin-right: 1em;
}

.difflist .file .name {
  text-shadow: 1px 1px white;
}

.difflist .file .status {
  background: #FF8;
  padding: 1px;
}
.difflist .file .status.D { background: #FAA; }
.difflist .file .status.A { background: #9F9; }

.diff tr.code td {
  font: 9pt monospace;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  border: solid #CCC;
  border-width: 0px 1px;
  vertical-align: top;
}

.diff td.comments {
  margin: 0;
  padding: 0;
}

.difftable {
  margin: 1em auto;
  border: solid #CCC 1px;
  border-collapse: collapse;
}

.diff .ln {
  text-align: right;
}
.diff .c {
  width: 80ex;  /* TODO: configurable size */
}

.diff .expander { background: #ADE; text-align: center; }
.diff .old { background: #FEE; }
.diff .new { background: #DFD; }
.diff .old.ch, .diff .old .ch { background: #FAA; }
.diff .new.ch, .diff .new .ch { background: #9F9; }
.diff .comments, .diff .blank { background: #EEE; }

/* THREADS ********************************************************************/

.thread {
  margin: 0.7em;
  padding: 0.5em;
  box-shadow: 0 0 0.5em #888;
  background: #FF8;
  word-wrap: break-word;
  max-width: 70ex;   /* TODO */
}
.thread.resolved {
  background: #FFC;
}
.thread.highlight {
  box-shadow: 0 0 0.8em #F00;
}

.thread .reply {
  display: none;
}
.thread.draft .actions {
  display: none;
}
.thread.draft .reply {
  display: block;
}

.thread textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  resize: vertical;
}

.thread dl {
  margin: 0;
  padding: 0;
}
.thread dd {
  padding-bottom: 0.3em;
}

.thread dt.collapsed {
  display: none;
}
.thread dt, .thread dd.collapsed {
  cursor: pointer;
}
.thread dd.collapsed {
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #888;
}
.thread .author code {
  color: black;
}
.thread dd .author {
  display: none;
}
.thread dd.collapsed .author {
  display: inline;
}

.thread .where {
  display: none;
}
.allthreads .thread .where {
  display: block;
  margin-bottom: 0.5em;
}

.allthreads .settings ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  margin-left: 1em;
  padding: 0.3em;
  background: #EEFFEE;
}
.allthreads .settings li {
  display: inline;
}

.allthreads.noglobal .thread.global,
.allthreads.noinline .thread.inline,
.allthreads.noresolved .thread.resolved,
.allthreads.nounresolved .thread.unresolved {
  display: none;
}
