
body {
  font: 10pt Arial, sans-serif;
  margin: 3.5em 0.7em 0.7em 0.7em;
}

a, .fakelink {
  color: #00A;
  cursor: pointer;
  text-decoration: underline;
}
a:hover, .fakelink:hover {
  color: #00E;
}

pre {
  margin: 0;
  padding: 0;
}

pre, code, .diff {
  font: 9pt monospace;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* IE 6/7 */
}

/* TOP ************************************************************************/

.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #CCF;
}

.top h1, .top h2 {
  display: inline-block;
  line-height: 1;
  font-size: 2em;
  margin: 0;
  padding: .2em;
}

.top h1 {
  background: black;
  color: white;
}

.top h2 {
  font-weight: normal;
  padding: .2em 0.5em;
}
.top h2 a {
  color: black;
  text-decoration: none;
}
.top h2 a:hover {
  color: #007;
}

.top .reply {
  display: inline-block;
  vertical-align: 25%;
}

.top .login {
  float: right;
  padding: .5em;
}

/* COMMITS ********************************************************************/

.commits table {
  width: 100%;
}

.commits tr, .commits td {
  margin: 0.1em;
  padding: 0;
  vertical-align: top;
}

.commits td.narrow {
  width: 1%;
}

.commits .label {
  background: green;
  color: white;
  padding: 1px;
  border-radius: 3px;
}

.commits pre {
  white-space: pre-wrap;
}
.commits pre.details {
  background: #CCC;
}

/* DIFF ***********************************************************************/

.difflist {
  margin: 0.7em -0.7em;
  border-top: solid #888 1px;
}

.difflist .loading {
  padding: 0.7em;
}

.difflist .file {
  cursor: pointer;
  background: #FFA;
  padding: 0.2em 0.7em;
  border-bottom: solid #888 1px;
}

.difflist .file code {
  margin-right: 1em;
}

.difflist .file .status {
  background: #FFF;
  padding: 1px;
}

.diff table td {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  border: solid #CCC;
  border-width: 0px 1px;
  vertical-align: top;
}

.diff table {
  margin: 1em;
  border: solid #CCC 1px;
  border-collapse: collapse;
}

.diff .ln {
  text-align: right;
}
.diff .c {
  width: 80ex;  /* TODO: configurable size */
}

.diff .old { background: #FEE; }
.diff .new { background: #DFD; }
.diff .old.ch, .diff .old .ch { background: #FAA; }
.diff .new.ch, .diff .new .ch { background: #9F9; }
.diff .blank { background: #EEE; }
